Import necessary libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectKBest, f_classif, RFE

Load dataset

In [10]:
df = pd.read_csv("dataset.csv",index_col=0)

In [11]:
df.describe()

,x_1,x_109,x_113,x_12,x_124,x_127,x_144,x_16,x_18,x_2,...,x_73,x_77,x_78,x_8,x_80,x_83,x_89,x_91,x_99,y
count,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,...,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000
mean,5166.469289,0.563244,3.048798,503.509832,50.483855,-0.122845,3.609128,34.826657,960.422190,4.993202,...,-0.032340,1050.474387,16.507405,256.788055,-0.133831,248.378733,0.000371,-0.006766,-0.037985,0.109493
std,73.588512,0.496044,2.544466,291.454491,28.862659,1.468947,1.825079,20.441569,191.922786,2.897798,...,0.289226,408.389794,9.554037,254.703736,0.572124,145.247366,0.044075,0.156240,0.380439,0.312294
min,4964.000000,0.000000,0.000000,0.000000,0.000000,-3.000000,1.000000,0.000000,0.000000,0.000000,...,-0.620000,49.000000,0.000000,0.000000,-0.310000,0.000000,-0.180000,-0.130000,-0.660000,0.000000
25%,5099.000000,0.000000,1.000000,250.000000,26.000000,-2.000000,1.000000,17.000000,999.000000,3.000000,...,0.110000,766.500000,8.000000,103.000000,-0.310000,122.000000,0.020000,-0.100000,-0.490000,0.000000
50%,5191.000000,1.000000,5.000000,497.000000,50.000000,1.000000,5.000000,35.000000,999.000000,5.000000,...,0.110000,1048.000000,16.000000,181.000000,-0.310000,249.000000,0.020000,-0.100000,0.070000,0.000000
75%,5228.000000,1.000000,6.000000,760.500000,76.000000,1.000000,5.000000,53.000000,999.000000,8.000000,...,0.110000,1332.500000,25.000000,317.000000,-0.310000,374.000000,0.020000,0.240000,0.210000,0.000000
max,5228.000000,1.000000,6.000000,999.000000,100.000000,1.000000,5.000000,70.000000,999.000000,10.000000,...,0.110000,2077.000000,33.000000,3643.000000,2.690000,500.000000,0.020000,0.390000,0.930000,1.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4119 entries, 0 to 4118
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x_1     4119 non-null   int64
 1   x_109   4119 non-null   int64
 2   x_113   4119 non-null   int64
 3   x_12    4119 non-null   int64
 4   x_124   4119 non-null   int64
 5   x_127   4119 non-null   int64
 6   x_144   4119 non-null   int64
 7   x_16    4119 non-null   int64
 8   x_18    4119 non-null   int64
 9   x_2     4119 non-null   int64
 10  x_25    4119 non-null   int64
 11  x_27    4119 non-null   int64
 12  x_28    4119 non-null   int64
 13  x_30    4119 non-null   int64
 14  x_33    4119 non-null   float64
 15  x_38    4119 non-null   float64
 16  x_42    4119 non-null   int64
 17  x_44    4119 non-null   int64
 18  x_45    4119 non-null   float64
 19  x_52    4119 non-null   int64
 20  x_55    4119 non-null   float64
 21  x_57    4119 non-null   float64
 22  x_59    4119 non-null   int64
 23  x_60    4119 non-null   int64
 24  x_62    4119 non-null   float64
 25  x_64    4119 non-null   int64
 26  x_67    4119 non-null   int64
 27  x_68    4119 non-null   float64
 28  x_7     4119 non-null   int64
 29  x_70    4119 non-null   int64
 30  x_71    4119 non-null   int64
 31  x_73    4119 non-null   float64
 32  x_77    4119 non-null   int64
 33  x_78    4119 non-null   int64
 34  x_8     4119 non-null   int64
 35  x_80    4119 non-null   float64
 36  x_83    4119 non-null   int64
 37  x_89    4119 non-null   float64
 38  x_91    4119 non-null   float64
 39  x_99    4119 non-null   float64
 40  y       4119 non-null   int64
dtypes: float64(12), int64(29)
memory usage: 1.3 MB

Assuming target variable is named 'y'

In [3]:
X = df.drop('y', axis=1)
y = df['y']

Spliting the dataset into training and testing sets

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Feature Selection using Filter Method (SelectKBest with ANOVA F-statistic)

In [5]:
k_best = SelectKBest(score_func=f_classif, k=20)
X_train_filtered = k_best.fit_transform(X_train, y_train)
X_test_filtered = k_best.transform(X_test)

Feature Selection using Wrapper Method (Recursive Feature Elimination - RFE)

In [6]:
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
rfe = RFE(estimator=rf_classifier, n_features_to_select=20, step=1)
X_train_rfe = rfe.fit_transform(X_train, y_train)
X_test_rfe = rfe.transform(X_test)

Create a DataFrame to store the results

In [7]:
result_filter = pd.DataFrame({'Variable': X.columns, 'Mark': k_best.get_support().astype(int)})

Save the DataFrame to a CSV file

In [8]:
result_filter.to_csv("Intellicker_IITB_VAR.csv", index=False)
print(result_filter)

   Variable  Mark
0       x_1     1
1     x_109     0
2     x_113     0
3      x_12     0
4     x_124     0
5     x_127     1
6     x_144     1
7      x_16     0
8      x_18     1
9       x_2     0
10     x_25     1
11     x_27     1
12     x_28     1
13     x_30     0
14     x_33     1
15     x_38     1
16     x_42     0
17     x_44     0
18     x_45     1
19     x_52     1
20     x_55     0
21     x_57     1
22     x_59     0
23     x_60     1
24     x_62     0
25     x_64     1
26     x_67     0
27     x_68     0
28      x_7     0
29     x_70     0
30     x_71     1
31     x_73     1
32     x_77     0
33     x_78     0
34      x_8     1
35     x_80     1
36     x_83     0
37     x_89     0
38     x_91     1
39     x_99     1